.display-habit-header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.edit-button {
  justify-self: end;
}

.habit-record-grid-container {
  display: grid;
  grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
}
.habit-record-grid-container button {
  width: 100%;
}